<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <title>blockchain</title>
</head>
<body>
    <!--
        tmpl := template.Must(template.ParseFiles("templates/home.html"))
        data := homeData{"Home", blockchain.AllBlocks()};
        tmpl.Execute(w, data);

        아래의 {{.Title}}은 tmpl.Execute(w, data)의 2번째 파라이터인 data에 data.Title로 접근하는 것이다.
    -->
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <main>
        {{range .Blocks}}
            <section>
                <ul>
                    <li>
                        {{.Data}}
                    </li>
                    <li>
                        {{.PrevHash}}
                    </li>
                    <li>
                        {{.Hash}}
                    </li>
                </ul>
            </section>
        {{end}}
    </main>
</body>
</html>